<p>word-list works!</p>
<div class="flex-row">
  <div class="flex-1">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="word-list-title">Anagram Generator</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <mat-form-field class="input-field">
          <mat-label>Sort</mat-label>
          <mat-select [(ngModel)]="sortType" data-test="sortTypeSelect">
            <mat-option>--</mat-option>
            <mat-option>Alphabetical</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <label for="sortOrder">Sort Order</label>
          <mat-radio-group aria-label="Sort Order" [(ngModel)]="sortOrder" data-test="sortOrderRadio">
            <!-- <mat-radio-button>--</mat-radio-button> -->
            <mat-radio-button>Increasing</mat-radio-button>
            <mat-radio-button>Decreasing</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- this button currently does not work but changing the url will bring you to the page -->
<button mat-fab class="add-word-fab" matTooltip="Add New Word Group" matTooltipPosition="left" routerLink="/anagram/new" data-test="addWordButton">
  <mat-icon class="md-24" aria-label="Add Word List">add</mat-icon>
</button>

<div class="flex-row">
  <p>put words here</p>
</div>
