<div class="flex-row">
  <div class="flex-1">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="word-list-title">Anagram Generator</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="input-field">
          <mat-label>Length</mat-label>
          <input matInput data-test="wordLengthInput" type="number" placeholder="Filter by length"
            min="1" max="100" [(ngModel)]="wordLength">
        </mat-form-field>
        @if (wordLength() !== undefined) {
          <!-- this is a bad way to do this,
          in the future I want to have an input box per letter in length -->
          <br>
          <mat-form-field class="input-field">
            <mat-label>Place Letters</mat-label>
            <input matInput data-test="anagramLetterPlacementInput" placeholder="Filter by letter placement" [(ngModel)]="letterPlacement">
          </mat-form-field>
          <!-- @for(number in wordLength; track number) {
            <mat-form-field class="input-field">
              <mat-label></mat-label>
            </mat-form-field>
          } -->
        }
        <br>
        <div>
          <mat-form-field class="input-field">
            <mat-label>Sort</mat-label>
            <mat-select [(ngModel)]="sortType" data-test="sortTypeSelect">
              <mat-option>--</mat-option>
              <mat-option>Alphabetical</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <label for="sortOrder">Sort Order</label>
          <br>
          <mat-radio-group aria-label="Sort Order" [(ngModel)]="sortOrder" data-test="sortOrderRadio">
            <!-- <mat-radio-button>--</mat-radio-button> -->
            <mat-radio-button>Increasing</mat-radio-button>
            <mat-radio-button>Decreasing</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="flex-row">
  <p>put words here</p>
</div>
